.hero-section {
    display: flex;
    gap: 250px;
    justify-content: space-evenly;
    height: 515px;

}

.hero-title {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    font-family: "Kumbh Sans";
    color: white;
}

.hero-title h1 {
    font-size: 4em;
}

.hero-title h2 {
    font-size: 1.7em;
}

.hero-image img {
    width: 515px;
    height: auto;
}

.hero-button {
    margin-top: 50px;
}

.hero-button a {
    display: inline-block;
    font-size: 20px;
    box-shadow: 0px 6px 0px #172217;
    padding: 15px;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    background-color: #243624;
    transition: all 0.1s ease;    
}

.hero-button a:hover {
    transform: translateY(6px);
    box-shadow: 0px 0px 0px #172217;
}

.hero-button a:active {
    background-color: #476147;
}

.softdev-color {
    color:#90d8bc ;
}